{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
    <link rel="stylesheet" href="/static/css/forgot_password.css">
    <link rel="stylesheet" href="{% static "css/forgot_password.css" %}">
</head>

<body>

    <form action="/user/forgot-password/" method="POST" class="glass-container">
        {% csrf_token %}
        <h2>Forgot password?</h2>
        <div class="input-box">
            <input type="email" placeholder="Enter email" name="email" required>
        </div>
        <button type="submit" class="btn">Reset Password</button>
        <div class="links">
            <a href="/user/login">Back to Login</a>
        </div>
    </form>
</body>

</html>