<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    <link rel="stylesheet" href="/static/css/reset_password.css">
    <link rel="stylesheet" href="css/reset_password.css">
</head>

<body>

    <div class="glass-container">
        <h2>Change Your Password</h2>
        <form method="post">
            <div class="input-box">
                <input type="password" placeholder="Enter new password" name="new_password" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Re-enter new password" name="recheck_new_password" required>
            </div>
            <button class="btn" type="submit">RESET PASSWORD</button>

            {% if error %}
            <p class="error-msg">{{ error }}</p>
            {% endif %}
        </form>
    </div>
    <!-- <script src="/static/js/reset_password.js"></script>
    <script src="js/reset_password.js"></script> -->
</body>

</html>